html
    title Product Detail
    link(rel="stylesheet", href="/css/mystyle.css", type="text/css")
    script(src="/scripts/myscript.js")

    body
        div.header
            h1 LEGO product details
            ul  
                li: a(href="/") Home
                li: a(href="/login") Login
        div 
            img(src="/images/Lego/Yacht.jpg", width="300px", height="300px")
            p. 
                Name: Lego Yacht <br>
                Origin: China <br>
                Material: Plastic <br>
                Price: 87$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")



        div 
            img(src="/images/Lego/Dinosaur.jpg", width="300px", height="300px")
            p. 
                Name: Lego dinosaur <br>
                Origin: China <br>
                Material: Plastic <br>
                Price: 130$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")



        div 
            img(src="/images/Lego/Minecraft.jpg", width="300px", height="300px")
            p. 
                Name: Lego Minecraft <br>
                Origin: China <br>
                Material: Plastic <br>
                Price: 56$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")
        


        div 
            img(src="/images/Lego/City.jpg", width="300px", height="300px")
            p. 
                Name: Lego City <br>
                Origin: China <br>
                Material: Plastic <br>
                Price: 152$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")



        div 
            img(src="/images/Lego/SpaceShip.jpg", width="300px", height="300px")
            p. 
                Name: Lego SpaceShip <br>
                Origin: China <br>
                Material: Plastic <br>
                Price: 130$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")




