html
    title Product Detail
    link(rel="stylesheet", href="/css/mystyle.css", type="text/css")
    script(src="/scripts/myscript.js")

    body
        div.header
            h1 Magic cards product details
            ul  
                li: a(href="/") Home
                li: a(href="/login") Login
        div     
            img(src="/images/CardGames/BlinkofDeath.jpg", width="300px", height="300px")
            p. 
                Name: Blink of Death cards <br>
                Origin: VietNam <br>
                Material: Board <br>
                Price: 3$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")



        div     
            img(src="/images/CardGames/Yu-Gi-Oh!.jpg", width="300px", height="300px")
            p. 
                Name: Yu-Gi-Oh! cards <br>
                Origin: Japan <br>
                Material: Board <br>
                Price: 450$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")


        
        div     
            img(src="/images/CardGames/WereWolf.jpg", width="300px", height="300px")
            p. 
                Name: WereWolf cards <br>
                Origin: China <br>
                Material: Board <br>
                Price: 13$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")
        

        
        div     
            img(src="/images/CardGames/Magic The Gathering.jpg", width="300px", height="300px")
            p. 
                Name: Magic: The Gathering cards <br>
                Origin: American <br>
                Material: Board <br>
                Price: 99$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")


        
        div     
            img(src="/images/CardGames/Uno.jpg", width="300px", height="300px")
            p. 
                Name: Uno cards <br>
                Origin: China <br>
                Material: Board <br>
                Price: 5$ <br>
            p   Amount/1 set:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")

        

