html
    title Product Detail
    link(rel="stylesheet", href="/css/mystyle.css", type="text/css")
    script(src="/scripts/myscript.js")

    body
        div.header
            h1 Stuffed toys product details
            ul  
                li: a(class="active",href="/") Home
                li: a(href="/login") Login
        div     
            img(src="/images/StuffedToys/Large stuffed toys.jpg", width="300px", height="300px")
            p. 
                Name: Large stuffed robot <br>
                Origin: China <br>
                Material: Cotton <br>
                Price: 30$ <br>
            p   Amount/1 toy:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")

        

        div     
            img(src="/images/StuffedToys/Medium stuffed toys.jpg", width="300px", height="300px")
            p. 
                Name: Medium stuffed robot <br>
                Origin: China <br>
                Material: Cotton <br>
                Price: 10$ <br>
            p   Amount/1 toy:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")



        div     
            img(src="/images/StuffedToys/Small stuffed toys.jpg", width="300px", height="300px")
            p. 
                Name: Small stuffed robot <br>
                Origin: China <br>
                Material: Cotton <br>
                Price: 5$ <br>
            p   Amount/1 toy:
            input(type="number",name="Amount",min="1")
        div 
            input(type="button",onclick="Buy()",value="Buy")
        


